<div class="prod_name">
<%= link_to @product.name, product_path(id: @product.id)%>
</div>
  <% @comments.each do |com| %>
    <% next unless com.persisted? %>


      <div class="row">
        <div class="comments col-md-9" id="comments">
          <h3 class="mb-2"><%= com.user.present? ? com.user.name : 'Guest' %></h3>
          <!-- comment -->
          <div class="comment mb-2 row">
            <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">

              <%=image_tag('medium/thumb/missing.png',  size: 5*5, :class => "mx-auto rounded-circle img-fluid" ) %>


            </div>

              <div class="comment-body">
                <p>
                  <%= com.text %>
                  <br>
                </p>
              </div>
          </div>
        </div>
      </div>
  <% end %>




<ul class="comment-errors">
  <% if @comment.errors.present? %>
    <% @comment.errors.messages.each do |field, messages| %>
      <li><%= field %>: <%= messages.join('; ') %></li>
    <% end %>
  <% end %>
</ul>


<%= form_for [@product, @comment] do |f| %>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><%=t('comments.index.input')%></span>
    </div>
    <%= f.text_area :text, placeholder: t('comments.index.message'),:class=>'form-control' %>
  </div>
  <br>
  <%= f.submit t('comments.index.create'), :class=>'btn btn-secondary' %>
<% end %>


