
<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<div class="container">
  <div class="card shopping-cart">
    <div class="card-header bg-dark text-light">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <%=t('cart.title') %>
      <%= link_to t('cart.continiu_shopping'), products_path, :class =>"btn btn-outline-info btn-sm pull-right" %>
      <div class="clearfix"></div>
    </div>
    <div class="card-body">
      <div id="line_items">
      <%= render(@cart.line_items) %>
      </div>
      <div class="pull-right">
        <a href="" class="btn btn-outline-secondary pull-right">
          <%=t('cart.Update_shopping_cart')%>
        </a>
      </div>
    </div>
    <div class="card-footer">
      <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
        <div class="row">

          <div class="col-6">
            <%= button_to t('cart.empty'), @cart, method: :delete, :class=>"btn btn-danger",
                          data: {confirm: 'Are you sure?'}%>
          </div>
        </div>
      </div>
      <div class="pull-right" style="margin: 10px">
        <div class="pull-right" style="margin: 5px">
          <div id="total_price">
         <%= render partial: 'orders/total_price' %>
          </div>
        </div>

        <div id="total_price">

        </div>
      </div>
    </div>
  </div>
</div>


  <fieldset>
    <h2 id="order_legend"><%= t('order.new.legend') %></h2>
    <%= render 'form', order: @order %>
  </fieldset>




