<p id="notice"><%= notice %></p>
<h2>Your Cart</h2>
<table>
  <tr>
    <th></th>
    <th></th>
    <th class="head">prise</th>
    <th class="head">total price</th>
  </tr>
  <tr>
  <% @cart.line_items.each do |item|%>
    <td><%= item.quantity %> &times;</td>
    <td><%= item.product.name %> </td>
    <td class="price"><%= number_to_currency(item.product.price) %></td>
    <td class="item_price"><%=number_to_currency(item.total_price)%></td>
    <td> <%= button_to 'delete', item, method: :delete %></td>
    <td><%= button_to '+', line_items_path(product_id: item.product) %></td>
    <td><%= button_to '-', line_items_path(product_id: item.product, remove:true) %></td>
  </tr>
  <% end %>

<tr class = "total_line">
  <td colspan="3">Total</td>
  <td class="total_cell"> <%= number_to_currency(@cart.total_price) %> </td>
</tr>

</table>

<%= button_to 'Empty cart', @cart, method: :delete,
data: {confirm: 'Are you sure?'}%>
