
<div class="row">
<% @products.each do |product| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
         <!-- <%#=image_tag product.images[0].file_url, :class=> "card-img-top" %>-->

          <%=link_to((image_tag product.images[0].file_url, :class=> "card-img-top"),product_path(id: product.id))%>

          <div class="card-body">
            <div class="prod_name">
              <%= link_to product.name, product_path(id: product.id)%>
            </div>
            <p class="card-text"> <%= truncate(strip_tags(product.description), length: 200) %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= button_to t('products.add_cart_html'),line_items_path(product_id: product), remote: true,
                              class: 'btn btn-sm btn-outline-secondary'%>
              <!--
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              -->
                <%= link_to t('products.comments'), product_comments_path(product),
                            class: 'btn btn-sm btn-outline-secondary' %>
              </div>
              <small class="text-muted">9 mins</small>
              <small style="color: #B00100"> <%= t('products.price') + price_format(product.price) %></small>

            </div>
          </div>
        </div>
      </div>
<% end %>
</div>

<%= paginate @products,
             :pagination_class => "pagination"%>

<div class="create_prod">
<%= link_to  'Create New Product', new_product_path %>
</div>
