
<% @products.each do |product| %>

<div class="block_prod">

  <div class="prod_name">
    <%= link_to product.name, product_path(id: product.id)%>
  </div>
  <div>
    <%= truncate(strip_tags(product.description), length: 80) %>
  </div>
  <div class="prod_price">
    <%= 'price: ' + price_format(product.price) %>
  </div>
  <div>
    <%= button_to 'Add to Cart', line_items_path(product_id: product) ,
    remote: true %>
  </div>
</div>

  <div >
    <% product.images.each_with_index do |image, index| %>
      <% next unless image.file_url  and index < 1%>
      <div class="item <%= 'active' if index == 0 %>">
        <%= image_tag(image.file_url) %>
      </div>
    <% end %>
  </div>

<% end %>



<%# <%= paginate @products, :theme => 'twitter-bootstrap-3'%> 

<div class="create_prod">
<%= link_to  'Create New Product', new_product_path %>
</div>
