<br><br><br><br><br>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <ol class="carousel-indicators">
      <%@product.images.each_with_index do |image, index| %>
        <% next unless image.file_url %>
        <% if index == 0 %>
          <li data-target="#carouselExampleIndicators" data-slide-to=<%=index%> class="active"></li>
        <% else %>
          <li data-target="#carouselExampleIndicators" data-slide-to=<%=index%>></li>
        <% end %>

      <% end %>
    </ol>

    <%@product.images.each_with_index do |image, index| %>
      <% next unless image.file_url %>
      <% if index == 0 %>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
      <%= image_tag(image.file_url, class: "d-block w-100") %>

      <div class="carousel-caption d-none d-md-block">

        <h5 style="color: crimson"><%=@product.name%></h5>
        <h3 style="color: #cc0000"><%= t('products.price') + price_format(@product.price) %></h3>
      </div>

      </div>
    <% end %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br><br><br><br>
  <%= button_to t('products.add_cart_html'),line_items_path(product_id: @product), remote: true,
                class: 'btn btn-primary'%>
  <br><br><br>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#"><%=t('products.description')%></a>
        </li>
        <li class="nav-item">
          <%= link_to t('products.comments'), product_comments_path(@product), :class => "nav-link" %>
        </li>

      </ul>
    </div>
    <div class="card-body">
      <%= @product.description%>
    </div>
  </div>


</div>



<!--
<%#= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary' %>
<%#= link_to 'Show comments', product_comments_path(@product) %>
-->

