<% if line_item == @current_item %>
<tr id = "current_item">
<% else %>
<tr>
<% end %>

  <td><%= line_item.quantity %></td>
  <td><%= line_item.product.name %> </td>
  <td class="price"><%= number_to_currency(line_item.product.price) %></td>
  <td class="item_price"><%=number_to_currency(line_item.total_price)%></td>
  <td> <%= button_to 'delete', line_items_path(product_id: line_item.product, delete:true),
    remote: true%></td>
  <td><%= button_to '+', line_items_path(product_id: line_item.product),
    remote: true %></td>
  <td><%= button_to '-', line_items_path(product_id: line_item.product, remove:true),
    remote: true %></td>
</tr>
