

  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Fixed navbar</a>


<div id="cart_total">
</div>









    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item"><a class="nav-link"<%= link_to t('layouts.home'), home_index_path %></a></li>
        <li class="nav-item"><a class="nav-link" <%= link_to t('layouts.products'), products_path %></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><%= t('layouts.qurstions')%></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><%= t('layouts.news')%></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><%= t('layouts.contucts')%></a></li>


        <% if session[:user_id] %>

          <li class="nav-item"><a class="nav-link" <%= link_to t('layouts.orders'), orders_path %></a></li>
          <li class="nav-item"><a class="nav-link" <%= link_to t('layouts.products'), products_path %></a></li>
          <li class="nav-item"><a class="nav-link" <%= link_to t('layouts.users'), users_path %></a></li>
          <% button_to 'Logout', logout_path, method: :delete %>

        <% end %>

      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>



  </nav>



  <div id = "cart">
    <% if @cart %>
      <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
        <%= render @cart %>
      <% end %>
    <% end %>
  </div>