<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menu_stile">

    <ul class="nav navbar-nav ml-lg-5">
      <li class="nav-item"><a class="nav-link"<%= link_to t('layouts.home'), home_index_path %></a></li>
      <li class="nav-item"><a class="nav-link" <%= link_to t('layouts.products'), products_path %></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><%= t('layouts.qurstions')%></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><%= t('layouts.news')%></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><%= t('layouts.contucts')%></a></li>
      <% if session[:user_id] %>

        <li class="nav-item"><a class="nav-link" <%= link_to t('layouts.orders'), orders_path %></a></li>
        <li class="nav-item"><a class="nav-link" <%= link_to t('layouts.products'), products_path %></a></li>
        <li class="nav-item"><a class="nav-link" <%= link_to t('layouts.users'), users_path %></a></li>

        <% button_to 'Logout', logout_path, method: :delete %>
      <% end %>
    </ul>

  <div id="banner">
    <%= form_tag home_index_path, class: 'locale' do %>
      <%= select_tag 'set_locale',
                     options_for_select(LANGUAGES, I18n.locale.to_s),
                     onchange: 'this.form.submit()'%>
      <%= submit_tag 'submit' %>
      <%= javascript_tag "$('.locale input').hide()"%>
    <% end %>

  </div>


</nav>
<div id = "cart">
  <% if @cart %>
  <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
  <%= render @cart %>
  <% end %>
<% end %>
</div>
